<!DOCTYPE html>
<html>
  <head>
    <title>MedicalProject</title>
    <p class="notice"><%= notice %></p>
           <p class="alert"><%= alert %></p>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
